*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(AIMG/mujer-guitarra-caminando-naturaleza_23-2147769092.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2em;
    color: #333;
}

h2 {
    font-size: 1.5em;
    color: #555;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

.button:hover {
    background-color: #0056b3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.level-image {
    display: none;
    max-width: 200px;
    margin: 20px auto;
}

button{
    position: relative;
    font-size: 25px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
    font-style: italic;
    margin-top: 50px;
}

button:hover{
    color: white;
}

button span{
    position: absolute;
    background: rgb(0, 0, 0);
    transition: 0.5s;
}

button span:nth-child(1){
    width: 100%;
    height: 5px;
    top: 0;
    left: -100%;        
}


button span:nth-child(2){
    width: 100%;
    height: 5px;
    bottom: 0;
    right: -100%;        
}

button span:nth-child(3){
    width: 5px;
    height: 100%;
    bottom: -100%;
    left: 0;        
}

button span:nth-child(4){
    width: 5px;
    height: 100%;
    top: -100%;
    right: 0;        
}

button:hover span:nth-child(1){
    left: 0;
}

button:hover span:nth-child(2){
    right: 0;
}

button:hover span:nth-child(3){
    bottom: 0;
}

button:hover span:nth-child(4){
    top: 0;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}