* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

.quiz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;

}

.question:hover {
  background-color: #e0e0e0;
}

.question img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 400px;
  height: 350px;
}

.question label {
  font-size: 18px;
  font-weight: bold;
  display: block;
}

.question input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.submit-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.result-container {
  margin-top: 20px;
  display: none;
}

.result-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.result-container p {
  font-size: 18px;
}

.correct-answer {
  color: #28a745;
  font-weight: bold;
}

.incorrect-answer {
  color: #dc3545;
  font-weight: bold;
}


@media (max-width: 600px){
  .question img{
    width: 100%;
    height: 100%;
  }
}